################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/B24 Ex03 Michal 206990723 Yehonatan 211398375
